body{
    background-color: rgb(107, 147, 182);
    width: 85%;
    margin: auto;
}

.card{
    background-color: rgb(245, 245, 245);
    margin:auto;
    border: solid #6e6792 1px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 20px;;
}

h1{
    text-align: center;
    text-shadow: #c5e2f3 2px 2px ;

}

.mitem{
    margin: 10px;
    margin-left: 50px;
    display: flex;
    gap: 10%;
   
}

.menutext{
    text-align: center;
    width: 60%;
    border: solid 2px black;
    background-color: rgb(219, 234, 247);
}

img{
    width: 250px;
    height: 225px;
    border-radius: 10px;
    border: solid #000 1px;
    
}

p{
    font-size: 18px;
}